---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Finance 4G — Controle Financeiro com as Planilhas do Google',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Baixe agora',
        href: 'https://github.com/onwidget/Financial',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Saiba mais', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'Financial Hero Image' }}
  >
    <Fragment slot="title">
      A melhor forma <span class="hidden xl:inline">de controle financeiro para a sua empresa</span>
      <span class="text-accent dark:text-white highlight">desenvolvido por Agência 4D</span> + Semear Esportes
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Finance 4G</span>Conecta a sua empresa com o futuro.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Finance 4G: Implante agora.</span>
      Você não precisa esperar para ter controle completo do seu negócio.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="O que você ganha com Finance 4G"
    subtitle="Uma das formas mais simples de controlar as finanças da sua empresa. E ainda pode compartilhar com o seu time."
    items={[
      {
        title: 'Integração com Google Planilhas na Nuvem',
        description:
          'O Google permite compartilhar sua planilha de forma segura na nuvem, garantindo que somente as pessoas autorizadas da sua empresa tenham acesso aos indicadores.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Agilidade e simplicidade',
        description:
          'Digitando apenas três informações (data, valor e plano de contas) você terá acesso ao relatório completo do seu Fluxo de Caixa...',
        icon: 'tabler:components',
      },
      {
        title: 'As melhores práticas no controle de finanças',
        description: 'Indicadores confiáveis e fáceis de configurar.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Atualização em tempo real',
        description: 'Esta é uma das planilhas mais rápidas do mercado, com relatórios atualizados em segundos.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Projetada para a simplicidade',
        description:
          'Você não precisa de usar sistemas complicados pra ter controle das suas finanças, basta alimentar as entradas e saídas do dia e escolher uma classificação adequada',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Aberta para a realidade de sua empresa',
        description:
          'Se você possui centro de custo ou um plano de contas específico, vocè poderá cadastrar suas próprias categorias sem modificar seu sistema interno.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Entenda o nosso método"
    title="Projetado para a simplicidade"
    items={[
      {
        title: 'Desenvolvido com Googles Planilhas, 100% na nuvem',
        description:
          'Você pode compartilhar com seu time de forma segura, sem se preocupar em sincronizar planilhas off-line. Desta forma você permite que várias pessoas lance infomações ao mesmo tempo',
      },
      {
        title: 'Design ergonômico e bonito',
        description:
          'O design desta planilha foi especialmente projetada pela Agência 4D e garante a melhor experiência do usuário',
      },
      {
        title: 'Baseado no espírito da cooperação',
        description:
          'Com validação da Semear Esportes, este trabalho preza pelo espírito de colaboração e desenvolvimento pessoal e empresarial',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Usando tecnologias modernas</h3>
      Aumente a sua competitividade e assertividade na tomada de decisões financeiras
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Alto grau de personalização',
        description: `Nós não impomos uma forma de trabalhar. Esta planilha é aberta a novas contas bancárias, plano de contas e centro de custo personalizado. Os indicadores são parametrizáveis e fáceis de configurar.`,
      },
      {
        title: 'Um modelo de trabalho para outras rotinas',
        description:
          'A partir desta planilha você poderá criar novas abas e acrescentar funcionalidades extras como planejamento de contas a pagar e contas a receber, contabilidade e controle.',
      },
      {
        title: 'Design responsível',
        description: 'Utilize esta planilha em telas menores, no tablet ou celular.',
      },
      {
        title: 'Clareza no negócio',
        description:
          'Você terá uma visão clara das suas receitas e despesas. Poderá diferenciar despesas e custos e tomar as rédeas do seu planejamento.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Garanta o controle das finanças da sua empresa.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Obtenha o melhor controle financeiro para o seu negócio."
    items={[
      {
        title: 'Passo 1: <span class="font-medium">Download</span>',
        description: 'Acesse o link disponibilizado pela [Semear]()',
        icon: 'tabler:package',
      },
      {
        title: 'Passo 2: <span class="font-medium">Salve uma cópia</em>',
        description: 'Salve uma cópia na conta Google da sua empresa para poder editar',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Passo 3: <span class="font-medium">Lance as entras e saídas</span>',
        description:
          'Preencha o seu caixa diário, escolha uma conta e uma classificação adequada. Uma lista com os principais planos de contas seré exibida',
        icon: 'tabler:paint',
      },
      {
        title: 'Pronto!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Recursos da planilha"
    subtitle="Estes são os recursos mais procurados que nós incluímos na nossa planilha"
    tagline="ComponentEs"
    items={[
      {
        title: 'Fluxo de caixa',
        description: 'Através do fluxo de caixa você possui uma visão clara das suas receitas e despesas.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Treinamento',
        description:
          'Você receberá uma vídeo-aula gravada ensinando a tirar o melhor proveito da planilha nos seus lançamentos diários',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Adicione colaboradores',
        description: 'Compartilhe com o seu time de forma segura por meio do Google Sheets!',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Relatórios',
        description:
          'Você terá vários relatórios incluindo uma DRE do Fluxo de Caixa e uma classificação com grupo e subgrupo.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Trabalhe com vários bancos simultaneamente',
        description: 'Escolha a conta bancária que quiser e veja o saldo bancário atualizado em tempo real',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Cartões',
        description: 'Para cadastrar seus cartões basta cadastrar uma conta e escolher o ícone adequado',
        icon: 'flat-color-icons:currency-exchange',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Veja o tutorial"
    information={`Tutorial on-line sempre atualizado.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="FAQ - Dúvidas freqüentes"
    subtitle="Veja o que a comunidade perguntou"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Por que Finance 4G?',
        description:
          "A forma mais moderna de controlar as finanças da sua empresa na nuvem",
      },
      {
        title: 'O que eu preciso para começar?',
        description:
          'Você só precisa disciplinar o seu time a lançar todas as entradas e saída, e ao lançar, classificar o lançamento da forma adequada',
      },
      {
        title: 'Como obtenho acesso para editar?',
        description:
          "A planilha é bloqueada por segurança. Basta ir no menu Arquivo e Salvar uma cópia. Ao salvar uma cópia com a conta Google da sua empresa você já terá acesso imediato",
      },
      {
        title: "Como eu posso compartilhar a planilha com o meu time",
        description:
          "Você pode clicar no ícone compartilhar e cadastrar o e-mail das pessoas autorizadas. Não esqueça de habilitar o modo de edição.",
      },
      {
        title: 'Porque algumas contas bancárias não aparecem no relatório?',
        description:
          "As contas que não tiveram movimento no mês podem ficar escondidas. Para exibí-las basta adicionar um lançamento com valor 0 para esta conta, em qualquer data do més corrente",
      },
      {
        title: 'Comecei hoje, como eu lanço o saldo anterior das minhas contas?',
        description:
          "Basta adicionar um lançanento na data de hoje e escolher a conta bancária. Se o saldo for negativo informe um valor negativo, se for positivo informe um valor positivo. O saldo será automaticamente contabilizado",
      },
      {
        title: 'A minha conta no banco não bate com minha planilha. Como faço?',
        description:
          "Talvez você tenha recebido valores ou pagado taxas no banco que não foram lançadas. Para corrigir isto cadastre uma entrada ou saída informando a categoria 'Estorno' e o saldo será ajustado",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Baixar agora',
        href: 'https://github.com/onwidget/Financial',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Agência 4D&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Semear Esportes</span>
    </Fragment>

    <Fragment slot="subtitle">
      Ficou surpreso com nossos números? Não perca mais tempo
    </Fragment>
  </CallToAction>
</Layout>
